/* https://codepen.io/enxaneta/full/adLPwv */

.flex {
    display: flex;
    flex-direction: column; 
    /* Si usamos flex direction column, cambian los ejes principales pasando a afecar  tanto justify content como align items primero el vertical y luego el horizontal*/
    background-color: yellow;
    height: 300px;
    justify-content: space-around;
    /* Space around distribuye el espacio sobrante al rededor de los objetos, 
     mientras que between lo hace entre ellos */
    /* flex-wrap: wrap; */
    /* Por defecto viene en nowrap, es decir, altera su height para cumplir con el justify content
    Al cambiarlo a wrap, lo "envolvemos" obligando a que mantengan su tamaño bajando los items que no entran en pantalla */
    align-items: flex-end;
}

.contenido-1 {
    background-color: white;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;

}

.contenido-2 {
    background-color: white;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;

}

.contenido-3 {
    background-color: pink ;
    /* height: 200px; */
    width: 100px;
    border: 1px solid blue;
}